@use "../abstracts/variables" as *; 
@use "../abstracts/mixins" as mixins;

.home {

  &__hero {
    text-align: center;
    padding: 0;

    animation: fade-in 1s ease forwards;
  }

  &__title {
    font-size: 3rem;
  }

}
